<nav class="bg-zinc-800">
  <div class="max-w-7xl mx-auto px-2 lg:px-8 sm:px-6">
    <div class="flex h-12 items-center justify-between relative">
      <div class="absolute flex inset-y-0 items-center left-0 sm:hidden">
        <button class="inline-flex items-center justify-center p-2 rounded-md text-zinc-400 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white hover:bg-zinc-700 hover:text-white" type="button" aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <%#
            Icon when menu is closed.

            Heroicon name: outline/menu

            Menu open: "hidden", Menu closed: "block"
          %>
          <svg xmlns="http://www.w3.org/2000/svg" class="block h-4 w-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M4 6h16M4 12h16M4 18h16" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</nav>
